body{
	background: lemonchiffon !important;
	margin: 0px;
}
/* 导航开始 */
header{
	width: 100%;
	height: 100px;	
	background-image: url(../../public/img/bg_nav.png);	
	background-size: 100% 100px;
}
nav{
	width: 80%;
	margin: 0 auto;	
}
nav ul{
	line-height: 90px;
	font-size: 20px;
	font-family: "华文行楷";
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
nav ul a{
	color: black !important;
}
nav ul a:hover{
	text-decoration: none;
}
nav .logo{
	font-weight: bold;
	font-size: 60px;
	color: red;
	text-shadow: 0px 0px 3px #FF0000;
}
/* 导航结束 */
/* 主体区域开始 */
.main{
	width: 100%;
	padding-top: 80px;
}
.bg{
	width: 90%;
	height: 300px;
	margin-left: 70px;
	filter: blur(10px);
}
.main .introduction{
	width: 90%;
	margin: 0 auto;
	padding: 35px;
	height: 300px;
	position: absolute;
	left: 70px;
	top: 180px;
	z-index: 999;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.main .introduction img{
	margin-right: 30px;
}
#session{
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}
#session table{
	width: 100%;
	font-size: 20px;
	color:gray;
}
#session table tr{
	height: 80px;
}
#session table caption{
	border-bottom: 1px solid gray;
}
#session .btn{
	float: right;
}
#session .time{
	font-weight: bold;
}
#session .money{
	color: red;
}
/* 主体区域结束 */
/* 底部区域开始 */
footer{
	margin-top: 50px;
}
footer .border_top{
	height: 10px;
	background-image: url(../../public/img/bg_footer.png);
}
footer .border_middle{
	width: 90%;
	height: 70px;
	margin: 20px auto;
}
footer .border_middle .footer_detial{
	width: 66%;
	float: right;	
	display: inline-block;
	margin-bottom: 20px;
}
footer .border_middle ul{
	text-align: right;
	border-bottom: 1px dashed gray;	
	margin-bottom: 5px;
}
footer .border_middle ul li{
	font-size: 15px;
	margin: 5px;
	color: gray;
	display: inline-block;
}
footer .border_middle span{
	display: block;
	text-align: right;
	color: gray;
}
footer img{
	width: 60px;
	margin-right: 20px;
	animation-name: footer_img;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes footer_img{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(360deg);}
}
footer .border_bottom{
	clear: both;
	height: 100px;
	background-image: url(../../public/img/bg_footer_bottom.png);
}
footer .logo{
	display: inline-block;
	font-size: 30px;
	color: gray;
	font-family: '幼圆';
}
/* 底部区域结束 */