Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed: Error: ENOENT: no such file or directory, open 'F:\web4\c  inema\src\tpl\select_seat.html':
  Error: ENOENT: no such file or directory, open 'F:\web4\cinema\src\tpl\select_  seat.html'
  
  - compiler.js:76 
    [cinema]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:298 Compiler.<anonymous>
    [cinema]/[webpack]/lib/Compiler.js:298:10
  
  - Compiler.js:516 
    [cinema]/[webpack]/lib/Compiler.js:516:13
  
  - Tapable.js:138 next
    [cinema]/[tapable]/lib/Tapable.js:138:11
  
  - CachePlugin.js:62 Compiler.<anonymous>
    [cinema]/[webpack]/lib/CachePlugin.js:62:5
  
  - Tapable.js:142 Compiler.applyPluginsAsyncSeries
    [cinema]/[tapable]/lib/Tapable.js:142:13
  
  - Compiler.js:513 
    [cinema]/[webpack]/lib/Compiler.js:513:10
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [cinema]/[tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:655 self.applyPluginsAsync.err
    [cinema]/[webpack]/lib/Compilation.js:655:19
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [cinema]/[tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:646 self.applyPluginsAsync.err
    [cinema]/[webpack]/lib/Compilation.js:646:11
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [cinema]/[tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:641 self.applyPluginsAsync.err
    [cinema]/[webpack]/lib/Compilation.js:641:10
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [cinema]/[tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:637 sealPart2
    [cinema]/[webpack]/lib/Compilation.js:637:9
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [cinema]/[tapable]/lib/Tapable.js:131:46
  
</pre><script type="text/javascript" src="http://localhost:3000/js/select_seat-bundle.js"></script>