<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="shortcut icon" href="img/ico_movie_on.png" type="image/x-icon" >
	</head>
	<body ng-app="app" ng-controller="con">
		<!--区域导航-->
		<header>
			<nav>
				<ul>
				   <li class="active"><a href="#"><img src="../../public/img/ico_movie_on.png"/>首页</a></li>
				   <li><a href="#"><img src="../../public/img/ico_event.gif"/>订单</a></li>
				   <li >
					   	<a href="#">
					   		<div class="logo">
						  		style影城
						  	</div>
					   	</a>
				   </li>
				   <li id="login"><a href="#"><img src="../../public/img/ico_effects.png" alt="" />&nbsp;登录</a></li>
				   <li id="register"><a href="#"><img src="../../public/img/ico_community_move.png" alt=""/>&nbsp;注册</a></li>
				</ul>
			</nav>	
		</header>
		<!-- 导航结束 -->
		<!-- banner开始 -->
		<div class="swiper-container">
		  	<div class="swiper-wrapper">
			    <div class="swiper-slide"><img src="../../public/img/banner1.jpg"/></div>
			    <div class="swiper-slide"><img src="../../public/img/banner2.png"/></div>
			    <div class="swiper-slide"><img src="../../public/img/banner3.jpg"/></div>
			    <div class="swiper-slide"><img src="../../public/img/banner4.png"/></div>
		 	</div>
		</div>
		<!-- banner结束 -->
		<!-- 电影列表 -->
		<div class="movie_list">
			<div class="title">
				正在热映
			</div>
			<div class="list">
				
				<table >
					<tr>
						<td rowspan="6"><img src="../../public/img/bianXingJinGang.jpg"/></td>
						<td><h4>变形金刚5:最后的骑士</h4></td>
					</tr>
					<tr>
						<td>导演:</td>
					</tr>
					<tr>
						<td>上映时间:</td>
					</tr>
					<tr>
						<td>评分:</td>
					</tr>
					<tr>
						<td>片长:</td>
					</tr>
					<tr>
						<td><button class="btn btn-danger">立即购票</button></td>
					</tr>
				</table>
				<table>
					<tr>
						<td rowspan="6"><img src="../../public/img/bianXingJinGang.jpg"/></td>
						<td><h4>变形金刚5:最后的骑士</h4></td>
					</tr>
					<tr>
						<td>导演:</td>
					</tr>
					<tr>
						<td>上映时间:</td>
					</tr>
					<tr>
						<td>评分:</td>
					</tr>
					<tr>
						<td>片长:</td>
					</tr>
					<tr>
						<td><button class="btn btn-danger">立即购票</button></td>
					</tr>
				</table>
				<table>
					<tr>
						<td rowspan="6"><img src="../../public/img/bianXingJinGang.jpg"/></td>
						<td><h4>变形金刚5:最后的骑士</h4></td>
					</tr>
					<tr>
						<td>导演:</td>
					</tr>
					<tr>
						<td>上映时间:</td>
					</tr>
					<tr>
						<td>评分:</td>
					</tr>
					<tr>
						<td>片长:</td>
					</tr>
					<tr>
						<td><button class="btn btn-danger">立即购票</button></td>
					</tr>
				</table>
				<table>
					<tr>
						<td rowspan="6"><img src="../../public/img/bianXingJinGang.jpg"/></td>
						<td><h4>变形金刚5:最后的骑士</h4></td>
					</tr>
					<tr>
						<td>导演:</td>
					</tr>
					<tr>
						<td>上映时间:</td>
					</tr>
					<tr>
						<td>评分:</td>
					</tr>
					<tr>
						<td>片长:</td>
					</tr>
					<tr>
						<td><button class="btn btn-danger">立即购票</button></td>
					</tr>
				</table>
				<table>
					<tr>
						<td rowspan="6"><img src="../../public/img/bianXingJinGang.jpg"/></td>
						<td><h4>变形金刚5:最后的骑士</h4></td>
					</tr>
					<tr>
						<td>导演:</td>
					</tr>
					<tr>
						<td>上映时间:</td>
					</tr>
					<tr>
						<td>评分:</td>
					</tr>
					<tr>
						<td>片长:</td>
					</tr>
					<tr>
						<td><button class="btn btn-danger">立即购票</button></td>
					</tr>
				</table>
				<table>
					<tr>
						<td rowspan="6"><img src="../../public/img/bianXingJinGang.jpg"/></td>
						<td><h4>变形金刚5:最后的骑士</h4></td>
					</tr>
					<tr>
						<td>导演:</td>
					</tr>
					<tr>
						<td>上映时间:</td>
					</tr>
					<tr>
						<td>评分:</td>
					</tr>
					<tr>
						<td>片长:</td>
					</tr>
					<tr>
						<td><button class="btn btn-danger">立即购票</button></td>
					</tr>
				</table>
			</div>
		</div>
		<!-- 电影列表结束 -->
		<!-- footer开始 -->
		<footer>			
			<div class="border_top"></div>
			<div class="border_middle">
				<div class="logo">
			  		<img src="../../public/img/footer.png"/>style影城
			  	</div>
			  	<div class="footer_detial">
			  		<ul>
						<li>公司介绍</li>
						<li>|</li>
						<li>联系我们</li>
						<li>|</li>
						<li>帮助中心</li>
					</ul>
					<span>style影城 © 2016 CJ CGV. All Rights Reserved. 沪ICP备 09051306</span>
			  	</div>
			</div>
			<div class="border_bottom"></div>
		</footer>
		<!-- footer结束 -->
		<!-- 登录框开始 -->
		<div class="modal fade" id="myModal" tabIndex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">用户登录</h4>
		            </div>
		            <div class="modal-body">
		            	<form style="margin-top: 50px;" class="form form-horizontal" name="zhuceForm" novalidate="">
					        <!--用户名  密码  性别  年龄 身份证 手机号  邮箱 -->
					        <div class="form-group">
					            <label class="col-sm-3 text-right" for="userName">姓名:</label>
					            <div class="col-sm-6">
					                <input class="form-control" name="userName" id="userName" ng-model="userName" ng-minlength="2" ng-maxlength="5" required/>
					                <div ng-show="zhuceForm.userName.$dirty && zhuceForm.userName.$invalid" class="alert alert-danger">请输入正确的姓名</div>
					            </div>
					        </div>
					        <div class="form-group">
					            <label class="col-sm-3 text-right" for="userPass">密码:</label>
					            <div class="col-sm-6">
					                <input class="form-control " name="userPass" id="userPass" ng-model="userPass" ng-minlength="5"  required=""/>
					                <div ng-show="zhuceForm.userPass.$dirty && zhuceForm.userPass.$invalid" class="alert alert-danger">请输入正确的密码</div>
					            </div>
					        </div> 
					        <div class="modal-footer">
					        	 <button type="button" ng-disabled="zhuceForm.$invalid" class="btn  btn-danger col-sm-4 col-sm-offset-4" ng-click="login()">登录</button>
				            </div>
					    </form>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- 登陆框结束 -->
		<!-- 注册框开始 -->
		<div class="modal fade" id="myModal_register" tabIndex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">用户注册</h4>
		            </div>
		            <div class="modal-body">
		            	<form style="margin-top: 50px;" class="form form-horizontal" name="zhuceForm" ng-submit="submit()" novalidate="" action="/zhuce/zhuce" method="post">
							<!--用户名  密码  性别  年龄 身份证 手机号  邮箱 -->
							<div class="form-group">
								<label class="col-sm-3 text-right" for="userName">姓名:</label>
								<div class="col-sm-6">
									<input class="form-control" name="userName" id="userName" ng-model="userName" ng-minlength="2" ng-maxlength="5" required ng-blur="yanzheng()"/>
									<div ng-show="zhuceForm.userName.$dirty && zhuceForm.userName.$invalid" class="alert alert-danger">请输入正确的姓名</div>
									<div ng-show="chongfu" class="alert alert-danger">用户名重复</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 text-right" for="userPass">密码:</label>
								<div class="col-sm-6">
									<input class="form-control " name="userPass" id="userPass" ng-model="userPass" ng-minlength="5"  required=""/>
									<div ng-show="zhuceForm.userPass.$dirty && zhuceForm.userPass.$invalid" class="alert alert-danger">请输入正确的密码</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 text-right" for="usersex1">性别:</label>
								<div class="col-sm-6"> 
									<input type="radio" class="radio radio-inline" name="userSex" id="userSex1" checked value="0"/><label for="userSex1">男</label>
									<input type="radio" class="radio radio-inline" name="userSex" id="usersex2"  value="1"/><label for="usersex2">女</label>
									<div class="alert alert-danger"  ng-show="zhuceForm.userSex.$error">必须选择一个性别</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 text-right" for="userEmail">Email:</label>
								<div class="col-sm-6">
									<input class="form-control " type="email" name="userEmail" id="userEmail" ng-model="userEmail"   required=""/>
									<div ng-show="zhuceForm.userEmail.$dirty && zhuceForm.userEmail.$invalid" class="alert alert-danger">请输入正确的Email</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 text-right" for="phone">手机号:</label>
								<div class="col-sm-6">
									<input class="form-control " type="number" name="phone" id="phone" ng-model="phone"  ng-pattern="/^1[34578]\d{9}$/" required/>
									<div ng-show="zhuceForm.phone.$dirty && zhuceForm.phone.$invalid && zhuceForm.phone.$error.pattern" class="alert alert-danger">请输入正确的手机号</div>
								</div>
							</div>
							<div class="modal-footer">
					        	 <button type="button" ng-disabled="zhuceForm.$invalid" class="btn  btn-danger col-sm-4 col-sm-offset-4">注册</button>
				            </div>
						</form>
		            </div>
		        </div>
		    </div>
		</div>	
		<!-- 注册框结束 -->
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	</body>
	<script language="javascript"> 
		var app=angular.module("app",[]);
		app.controller("con",["$scope","$http",function ($scope,$http) {
			//注册
            $scope.login=function () {
//              alert(1)
				var userName=$scope.userName;
                var userPass=$scope.userPass;
                var url="/user/register";
                var data={userName:userName,userPass:userPass};
                $http.post(url,data).then(function (result) {
                   
                });				
            }
    	}]);
		var mySwiper = new Swiper('.swiper-container',{
			autoplay: 1500//可选选项，自动滑动
		});
		$("#login").on("click",function(){
			$("#myModal").modal("show");
		});
		$("#register").on("click",function(){
			$("#myModal_register").modal("show");
		});
		
		
		
	</script>
</html>
