<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="img/ico_movie_on.png" type="image/x-icon" >
</head>
<body ng-app="app" ng-controller="cro">
	<!--区域导航-->
	<header>
		<nav>
			<ul>
			    <li class="active"><a href="/index"><img src="../../public/img/ico_movie_on.png"/>首页</a></li>
			    <li >
				   	<a href="#">
				   		<div class="logo">
					  		style影城
					  	</div>
				   	</a>
			    </li>
			    <%  if(!isLogined){  %>
				    <li id="login"><a href="#"><img src="../../public/img/ico_effects.png" alt="" />&nbsp;登录</a></li>
				    <li id="register"><a href="#"><img src="../../public/img/ico_community_move.png" alt=""/>&nbsp;注册</a></li>
				<% } %>
				<%  if(isLogined){  %>
                    <li>当前用户是:<%= username %></li>
                    <li>
                    	<a href="/user/destory"  style="text-decoration: none">退出登录</a>
                    </li>
                <%  }  %>
			</ul>
		</nav>	
	</header>
	<!-- 导航结束 -->
	<div class="main">
		<table class="table table-responsive table-hover table-bordered" >
			<thead>
			    <th><input ng-model="quanxuan" type="checkbox">全选</th>
			    <th>电影名称</th>
			    <th>时长</th>
			    <th>上映时间</th>
			    <th>导演</th>
			    <th>主演</th>
			    <th>图片</th>
			    <th>简介</th>
			    <th>操作</th>
			</thead>
			<tbody>
			    <tr ng-repeat="x in list">
			        <td><input ng-checked="quanxuan" type="checkbox"  data-ng-click="xuanze($event,x.movie_id)"/></td>
			        <td >{{x.movie_name}}</td>
			        <td >{{x.movie_length}}</td>
			        <td >{{x.movie_time}} </td>
			        <td >{{x.movie_director}}</td>
			        <td >{{x.movie_role}}</td>
			        <td><img ng-src="{{x.movie_pic}}"></td>
			        <td >{{x.movie_intro}}</td>
			        <td >
			        	<a href="/movie/editPage?id={{x.movie_id}}">修改</a> | 
			        	<a href="/movie/delete?id={{x.movie_id}}">删除</a> | 
			        	<a href="/movie/sessionList?id={{x.movie_id}}">场次</a>
			        </td>
			    </tr>
			    <tr>
			        <td colspan=9>
			            <button class="btn " data-ng-click="tianjia()">添加</button>
			            <button class="btn " data-ng-click="deleteMany()">删除多个</button>
			        </td>
			    </tr>
		    </tbody>
		</table>
	</div>
	<!-- 主体区域结束 -->
	<!-- footer开始 -->
	<footer>			
		<div class="border_top"></div>
		<div class="border_middle">
			<div class="logo">
		  		<img src="../../public/img/footer.png"/>style影城
		  	</div>
		  	<div class="footer_detial">
		  		<ul>
					<li>公司介绍</li>
					<li>|</li>
					<li>联系我们</li>
					<li>|</li>
					<li>帮助中心</li>
				</ul>
				<span>style影城 © 2016 CJ CGV. All Rights Reserved. 沪ICP备 09051306</span>
		  	</div>
		</div>
		<div class="border_bottom"></div>
	</footer>
	<!-- footer结束 -->
	<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
</body>
<script type="text/javascript">
	 var app=angular.module("app",[]);
	 app.controller("cro",['$scope','$http',function($scope,$http){
	 	var url="/movie/movieList";
        $http.post(url).then(function(result){
//            console.info(result);
            $scope.list=result.data.list;
        });
        $scope.tianjia=function () {
            location.href="/movie/insertPage";
        }
        //判定是否选中
        var movieIds=[];
        $scope.xuanze=function ($event,movieId) {
            var check=$event.target.checked;//$event.target就是获得当前选中的那个标签
            if (check==true){
                movieIds.push(movieId);
            }else{
                var index=$.inArray(movieId,movieIds);
                movieIds.splice(index,1);
            }
//            alert(movieIds);
        }
        $scope.deleteMany=function () {
            if (movieIds.length>0){
                var movieIdsStr=movieIds.join(",");
                $http.post("/movie/deleteMany",{movieIdsStr:movieIdsStr}).then(function (result) {
//                    console.log(result.data.resultCode);
                    var code=result.data.resultCode;
                    if (code==1){
                        alert("删除成功");
						location.reload();
                    }else{
                        alert("删除失败");
                    }
                })
            }else{
                alert("请先选择要删除的商品")
            }
        }

	}])
</script>
</html>