<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="shortcut icon" href="img/ico_movie_on.png" type="image/x-icon" >
		<script src="/js/show_picture.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-app="app" ng-controller="cro">
		<!--区域导航-->
		<header>
			<nav>
				<ul>
				    <li class="active"><a href="/index"><img src="../../public/img/ico_movie_on.png"/>首页</a></li>
				    <li><a href="#"><img src="../../public/img/ico_event.gif"/>订单</a></li>
				    <li >
					   	<a href="#">
					   		<div class="logo">
						  		style影城
						  	</div>
					   	</a>
				    </li>
				    <li><a href="#">当前用户:张丹</a></li>
				    <li><a href="#">退出登录</a></li>
				</ul>
			</nav>	
		</header>
		<!-- 导航结束 -->
		<!-- 添加列表 -->
		<form style="margin-top: 50px;" class="form form-horizontal" name="movieForm" ng-submit="submit()" novalidate="" action="/movie/insert" method="post"  enctype="multipart/form-data">
        <!--用户名  密码  性别  年龄 身份证 手机号  邮箱 -->
        <div class="form-group">
            <label class="col-sm-3 text-right" for="movieName">电影名称:</label>
            <div class="col-sm-6">
                <input class="form-control" name="movieName" id="movieName" ng-model="movieName" ng-minlength="1"  required ng-blur="yanzheng()"/>
                <div ng-show="movieForm.movieName.$dirty && movieForm.movieName.$invalid" class="alert alert-danger">请输入正确电影名</div>
                <div ng-show="chongfu" class="alert alert-danger">电影名重复</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-right" for="movieLength">电影时长:</label>
            <div class="col-sm-6">
                <input class="form-control " name="movieLength" id="movieLength" ng-model="movieLength" ng-minlength="3"  required=""/>
                <div ng-show="movieForm.movieLength.$dirty && movieForm.movieLength.$invalid" class="alert alert-danger">请输入正确电影时长</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-right" for="movieTime">上映时间:</label>
            <div class="col-sm-6">
                <input class="form-control " name="movieTime" id="movieTime" ng-model="movieTime"   required=""/>
                <div ng-show="movieForm.movieTime.$dirty && movieForm.movieTime.$invalid" class="alert alert-danger">请输入正确上映时间</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-right" for="movieDirector">导演:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="movieDirector" id="movieDirector" ng-model="movieDirector" required="" />
                <div class="alert alert-danger"  ng-show="movieForm.movieDirector.$invalid && movieForm.movieDirector.$dirty">请输入电影导演</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-right" for="movieRole">主演:</label>
            <div class="col-sm-6">
                <input class="form-control " type="text" name="movieRole" id="movieRole" ng-model="movieRole"   required=""/>
                <div ng-show="movieForm.movieRole.$dirty && movieForm.movieRole.$invalid" class="alert alert-danger">请输入电影主演</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-right" for="moviePic">电影图片:</label>
            <div class="col-sm-6">
                <input type="file" name="inputFile" id="moviePic" onchange="change()" multiple ng-model="photo">
                <img alt="" id="pic" name="pic" ng-src="{{photo}}">
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 text-right" for="movieIntro">电影介绍:</label>
            <div class="col-sm-6">
                <input class="form-control " type="text" name="movieIntro" id="movieIntro" ng-model="movieIntro"   required=""/>
                <div ng-show="movieForm.movieIntro.$dirty && movieForm.movieIntro.$invalid" class="alert alert-danger">请输入电影介绍</div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" ng-disabled="movieForm.$invalid" class="btn btn-warning">提交</button>
            <button type="reset" class="btn btn-danger">清空</button>
        </div>
    </form>
    <!-- 列表结束 -->
    <!-- footer开始 -->
	<footer>			
		<div class="border_top"></div>
		<div class="border_middle">
			<div class="logo">
		  		<img src="../../public/img/footer.png"/>style影城
		  	</div>
		  	<div class="footer_detial">
		  		<ul>
					<li>公司介绍</li>
					<li>|</li>
					<li>联系我们</li>
					<li>|</li>
					<li>帮助中心</li>
				</ul>
				<span>style影城 © 2016 CJ CGV. All Rights Reserved. 沪ICP备 09051306</span>
		  	</div>
		</div>
		<div class="border_bottom"></div>
	</footer>
	<!-- footer结束 -->
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	</body>
	<script type="text/javascript">
	 var app=angular.module("app",[]);
	 app.controller("cro",['$scope','$http',function($scope,$http){
	 	$scope.yanzheng=function () {
            $scope.chongfu=false;
            var movieName=$scope.movieName;
            if (movieName!=undefined){
                var url="/movie/yanZhengMovieName";
                var data={movieName:movieName};
                $http.post(url,data).then(function (result) {
                    var code=result.data.resultCode;
                    if (code==1){
                        $scope.chongfu=true;
                    }
                })
            }
        }
	}])
	</script>
</html>
