<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>场次列表</title>
    <link rel="shortcut icon" href="img/ico_movie_on.png" type="image/x-icon" >
</head>
<body ng-app="app" ng-controller="con">
	<!--区域导航-->
	<header>
		<nav>
			<ul>
			    <li class="active"><a href="/index"><img src="../../public/img/ico_movie_on.png"/>首页</a></li>
			</ul>
		</nav>	
	</header>
	<!-- 导航结束 -->
	<div class="main">
		<table class="table table-responsive table-hover table-bordered" >
			<thead>
			    <th>电影名称</th>
			    <th>播放时间</th>
			    <th>影厅类型</th>
			    <th>场次房间</th>
			    <th>票价</th>
			    <th>操作</th>
			</thead>
			<tbody>
			    <% for(var i=0;i<session.length;i++){%>
			     <tr>
			        <td ><%=session[i].movie_name%></td>
			        <td ><%=session[i].session_time%></td>
			        <td ><%=session[i].movie_type%></td>
			        <td ><%=session[i].session_room%></td>
			        <td ><%=session[i].movie_price%></td>
			        <td >
			        	<a href="/sessionRoutes/editPage?id=<%=session[i].session_id%>">修改</a> | 
			        	<a href="/sessionRoutes/delete?id=<%=session[i].session_id%>&movieId=<%=session[i].movie_id%>">删除</a>	|
			        	<a href="/sessionRoutes/insertSessions?id=<%=session[i].movie_id%>">添加</a>
			        </td>
			    </tr>
			    <% } %>
		    </tbody>
		</table>
	</div>
	<!-- 主体区域结束 -->
	<!-- footer开始 -->
	<footer>			
		<div class="border_top"></div>
		<div class="border_middle">
			<div class="logo">
		  		<img src="../../public/img/footer.png"/>style影城
		  	</div>
		  	<div class="footer_detial">
		  		<ul>
					<li>公司介绍</li>
					<li>|</li>
					<li>联系我们</li>
					<li>|</li>
					<li>帮助中心</li>
				</ul>
				<span>style影城 © 2016 CJ CGV. All Rights Reserved. 沪ICP备 09051306</span>
		  	</div>
		</div>
		<div class="border_bottom"></div>
	</footer>
	<!-- footer结束 -->
	<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
</body>
<script type="text/javascript">
	 var app=angular.module("app",[]);
	 app.controller("con",['$scope','$http',function($scope,$http){
	 	var url="/movie/movieList";
        $http.post(url).then(function(result){
            $scope.list=result.data.list;
        });
        $scope.tianjia=function () {
            location.href="/sessionRoutes/insertSession";
        }
       
	}])
</script>
</html>